/* --------------------------------- Colors --------------------------------- */
$orange: coral;
$light-purple: #942deb;
$dark-purple: #59069e;
$green: #5be86b;
$black: #000000;
$white: #e8e8e8;

*,
*::before,
*::after {
	font-family: inherit;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 0;
	//padding-right: 10em;
	//padding-left: 10em;
	font-family: "Roboto Mono", monospace;
	font-weight: 600;
	font-size: 1.5rem;
	color: $black;
	background-color: $white;
	//display: grid;
	/*grid-template:
		"...... header header ......" auto
		"...... main-cont main-cont ......" auto
		"...... ...... ...... ......" auto/
		1fr minmax(100px, 300px) minmax(250px, 500px) 1fr; */
}

.title-cont {
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
	width: 50%;
	background-color: $black;

	.title {
		font-size: 5rem;
		//grid-area: header;
		text-align: center;
	}

	#main-title {
		background-color: $black;
		color: $white;
		text-align: center;

		#dash {
			color: $green;
		}
	}
}

.main-cont {
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: row;
	align-items: center;
	height: 100vh;
	background-color: $white;

	.all-tasks {
		background-color: $black;
		margin: 0;
		width: 50%;
		height: 100%;
		padding-left: 5em;
		color: $black;
	}
	.task-list-title {
		color: $white;
		margin-top: 2em;
		margin-left: 37.5%;
		margin-right: 37.5%;
		text-align: center;
		width: 25%;
	}

	.task-list {
		line-height: 1.7;
		text-align: left;
		color: white;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		list-style-type: disc;
	}

	.list-title {
		background-color: $black;
		color: $white;
		margin-left: 37.5%;
		margin-right: 37.5%;
		text-align: center;
		width: 25%;
	}

	.list-name {
		cursor: pointer;
	}

	.list-name:hover {
		opacity: 0.7;
	}

	/* #list-input {
	margin-left: 0.5em;
}*/

	form {
		display: flex;
	}

	.new {
		background: transparent;
		border: 0;
		color: inherit;
		border-bottom: 1px solid;
		outline: none;
		transition: border-bottom 100ms ease-in;
		order: 2;
	}

	.new:focus {
		border-bottom-width: 3px;
	}

	.new:focus::placeholder {
		opacity: 0.2;
	}

	// ANCHOR Checkbox styling

	.todo-list {
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
		justify-content: center;
		height: 100%;
		width: 50%;
		background-color: coral;
	}

	.todo-list-cont {
		display: flex;
		margin: 0;
		padding: 0;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		background-color: $white;
	}

	[type="checkbox"] {
		opacity: 0;
		position: absolute;
	}

	#task-input {
		margin-top: 1em;
	}

	.btn-task {
		margin-top: 1.5em;
	}

	.task-counter {
		justify-content: flex-start;
	}

	.task label {
		display: flex;
		align-items: center;
		position: relative;
		margin-top: 1em;
		border-radius: 0.5em;
		background: $white;
		box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
	}

	//ANCHOR line through css @ 40:33
	.task label::after {
		content: "";
		right: 0;
		left: 0;
		bottom: -50px;
		height: 1px;
		position: absolute;
		background: currentColor;
	}

	.custom-checkbox {
		--size: 0.7em;
		display: inline-block;
		width: var(--size);
		height: var(--size);
		margin-right: var(--size);
		cursor: pointer;
		border: 2px solid currentColor;
		border-radius: 50%;
		transform: scale(1);
		transition: transform 300ms ease-in-out;
	}

	.task:hover .custom-checkbox,
	[type="checkbox"]:focus + label .custom-checkbox {
		transform: scale(1.2);
		color: $black;
	}

	[type="checkbox"]:checked + label .custom-checkbox {
		background: $green;
		border-color: $green;
		box-shadow: inset 0 0 0px 2px $white;
	}

	[type="checkbox"]:checked + label {
		opacity: 0.5;
	}

	.task label::after {
		content: "";
		position: absolute;
		left: 0;
		right: 1.5em;
		left: 1.5em;
		top: 50%;
		height: 3px;
		background: $green;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 150ms ease-in-out;
	}

	[type="checkbox"]:checked + label::after {
		transform: scaleX(1);
		transform-origin: left;
	}

	button {
		background: lightgray;
		border: 1px solid black;
		border-radius: 0;
	}
}
