/* --------------------------------- Colors --------------------------------- */
$orange: coral;
$light-purple: #942deb;
$dark-purple: #59069e;
$green: #5be86b;
$black: #000000;
$white: #e8e8e8;

*,
*::before,
*::after {
	font-family: inherit;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Roboto Mono", monospace;
	font-weight: 300;
	font-size: 1.5rem;
	color: black;
	background-color: $white;
	display: grid;
	grid-template:
		"header header header header" auto
		"...... lists  active ......" auto /
		1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
	grid-area: header;
	text-align: center;
}

.all-tasks {
	grid-area: lists;
	color: $black;
}

.task-list {
	line-height: 1.7;
}

.list-name {
	cursor: pointer;
}

.list-name:hover {
	opacity: 0.7;
}

form {
	display: flex;
}

.new {
	background: transparent;
	border: 0;
	color: inherit;
	border-bottom: 1px solid;
	outline: none;
	transition: border-bottom 100ms ease-in;
	order: 2;
}

.new:focus {
	border-bottom-width: 3px;
}

.new:focus::placeholder {
	opacity: 0.2;
}

// ANCHOR Checkbox styling

.todo-list {
	grid-area: active;
}

[type="checkbox"] {
	opacity: 0;
	position: absolute;
}

#task-input {
	margin-top: 1em;
}
.btn-task {
	margin-top: 1em;
}

.task label {
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 1em;
	border-radius: 0.5em;
	background: $white;
	box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

//ANCHOR line through css @ 40:33
.task label::after {
	content: "";
	right: 0;
	left: 0;
	bottom: -50px;
	height: 1px;
	position: absolute;
	background: currentColor;
}

.custom-checkbox {
	display: inline-block;
	height: 0.5em;
	width: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	cursor: pointer;
	border: 2px solid $black;
	transform: scale(1);
	transition: transform 200ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
	transform: scale(1.2);
	color: $green;
}

[type="checkbox"]:focus + label .custom-checkbox {
	background-color: $green;
	border-color: $green;
	box-shadow: inset 0 0 0px 3px $white;
}
