/* --------------------------------- Colors --------------------------------- */
*,
*::before,
*::after {
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1.5rem;
  color: #000000;
  background-color: #e8e8e8;
  display: -ms-grid;
  display: grid;
  grid-template: "...... header header ......" auto "...... lists active ......" auto "...... ...... ...... ......" auto/1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
  font-size: 5rem;
  grid-area: header;
  text-align: center;
}

#main-title {
  background-color: #000000;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #e8e8e8;
  text-align: center;
}

#main-title #dash {
  color: #5be86b;
}

.all-tasks {
  grid-area: lists;
  max-width: 10em;
  color: #000000;
}

.task-list {
  line-height: 1.7;
  text-align: center;
  list-style-type: disc;
}

.task-list-title {
  background-color: #000000;
  color: #e8e8e8;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  width: 50%;
}

.list-title {
  background-color: #000000;
  color: #e8e8e8;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  width: 50%;
}

.list-name {
  cursor: pointer;
}

.list-name:hover {
  opacity: 0.7;
}

/* #list-input {
	margin-left: 0.5em;
}*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid;
  outline: none;
  -webkit-transition: border-bottom 100ms ease-in;
  transition: border-bottom 100ms ease-in;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.new:focus {
  border-bottom-width: 3px;
}

.new:focus::-webkit-input-placeholder {
  opacity: 0.2;
}

.new:focus:-ms-input-placeholder {
  opacity: 0.2;
}

.new:focus::-ms-input-placeholder {
  opacity: 0.2;
}

.new:focus::placeholder {
  opacity: 0.2;
}

.todo-list {
  grid-area: active;
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

#task-input {
  margin-top: 1em;
}

#main-title {
  background-color: #000000;
  color: #e8e8e8;
}

.btn-task {
  margin-top: 1.5em;
}

.task label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 1em;
  border-radius: 0.5em;
  background: #e8e8e8;
  -webkit-box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
          box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.task label::after {
  content: "";
  right: 0;
  left: 0;
  bottom: -50px;
  height: 1px;
  position: absolute;
  background: currentColor;
}

.custom-checkbox {
  --size: 0.7em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #000000;
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: #5be86b;
  border-color: #5be86b;
  -webkit-box-shadow: inset 0 0 0px 2px #e8e8e8;
          box-shadow: inset 0 0 0px 2px #e8e8e8;
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}

.task label::after {
  content: "";
  position: absolute;
  left: 0;
  right: 1.5em;
  left: 1.5em;
  top: 50%;
  height: 3px;
  background: #5be86b;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
/*# sourceMappingURL=main.css.map */